[submodule "projects/nexus/nexus/lib/solady"]
	path = projects/nexus/nexus/lib/solady
	url = https://github.com/Vectorized/solady
[submodule "projects/nexus/nexus/lib/union"]
	path = projects/nexus/nexus/lib/union
	url = https://github.com/unionlabs/union
[submodule "projects/nexus/nexus/lib/openzeppelin-contracts"]
	path = projects/nexus/nexus/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
